@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    img {
        border-radius: 50%;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            <img src="~/Content/Image/Ronaldo.jpg" width="200" height="200" >
        </p>
        @*<p><a class="btn btn-default" href=""><< >> &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Краткая информация</h2>
        <p>
            Деятельность Футбол<br>
            Дата рождения 22 Сентября 1976<br>
            Знак зодиака Девы<br>
            Место рождения
            Бразилия, Рио-де-Жанейро<br>
            Полное имя (рус)
            Роналдо Луис Назарио де Лима<br>
            Полное имя (англ)
            Ronaldo Luis Nazario de Lima<br>
            Псевдоним Зубастик
        </p>
        @*<p><a class="btn btn-default" href=""><< >> &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Информация о команде</h2>
        <p>
            «Реа́л Мадри́д» (исп. Real Madrid Club de Fútbol).
            Испанский профессиональный футбольный клуб. По версии ФИФА лучший футбольный клуб XX века.
        </p>
        @*<p><a class="btn btn-default" href=""><< >> &raquo;</a></p>*@
    </div>

    @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>*@
    </div>